:root {
  --sans-font: Verdana, Geneva, sans-seriff;
  
  --black: #353238;
}

/*Structure of the webpage & defaults*/
body {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-size: 16px;
  
  color: var(--black);
}

header {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: auto;
}

/*navbar*/
nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: auto;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  
  list-style: none;
  font-size: 18px;
  font-family: var(--sans-font);
  background: white;
}

.home-div {
  flex: 20%;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  flex: 80%;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home {
  font-size: 25px;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
}

.menu a {
  padding: 0px;
  margin: 0px 20px 0px 0px;
}

nav a, .icon {
  text-decoration: none;
  color: #41474a;
}
nav a:hover {
  color: var(--black);
}

.icon:hover {
  color: var(--black);
}




/*divider & sidebar*/
.split {
  width: 100%;
  display: flex;
}

.side {
  flex: 0 0 20%;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  font-size: 20px;
}

.me {
  border-radius: 50%;
}

.side h1 {
  font-size: 20px;
  margin: 20px 0px 0px 0px;
}

.side div {
  width: 150px;
  
  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: ;
}

.side p {
  margin: 0;
  font-size: 16px;
  
}
.side ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.side li {
 font-size: 16px; 
}

/*Main content*/
.content {
  flex: 0 1 80%;
  margin-top: 0px;
  
  padding: 0px 25% 0px 10%;
}

/*Altering CSS for smaller tablets*/
@media screen and (max-width: 992px) {
  .content {
    padding: 0px 10% 0px 10%;
  }
}

/*Altering CSS for tablets and small laptops*/
@media screen and (max-width: 1200px) {
  .content {
    padding: 0px 15% 0px 10%;
  }
}

/*Footer*/
footer {
  flex: 100%;
}

/*Repeated stuff - e.g. text*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-font);
}

a {
  text-decoration: none;
  color: #0074D9;
}
a:hover {
  color: #7FDBFF;
}



/* Navbar for mobile */

/* Hide the mobile menu icon */
.icon {
  display: none;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) 
Also adjust some aspects of the page to aid with readability*/
@media screen and (max-width: 800px) {
  nav {
    flex-wrap: wrap;
  }
  
  .home {
    padding: 0px 0px 0px 0px;
  }
  
  .menu {
    display: none;
  }
  
  .icon {
    display: block;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    right: 0;
    
    margin: 4px 10px 0px 0px;
  }
  
  .content {
    flex: 100%;
    padding: 0px 5% 0px 5%;
  }
  
  .side {
    display: none;
  }
}



/* The "responsive" class is added to the menu with JavaScript when the user clicks on the icon. This class makes the menu look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
  .menu.responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex: 100%;
    width: 100%;
    background: black;
  }
  
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
    
    color: white;
    margin: 5px 10px 5px 10px;
  }
}
