---
layout: default
title: interests
---

<div class="interest-div">
    <a class="prev" onclick="changeBox(-1)">&#10094;</a>
    <div class="interest-panel">
        {% for interest_list in site.data.interests %}
        <div class="interest-list">
            <h1 class="interest-list-title">{{ interest_list[0] | replace: "_", " " }}</h1>
            {% for interest in interest_list[1] %}
            <div class="interest-box">
                <h2 class="interest-title">{{ interest.name }}</h2>
                <p class="interest-desc">{{ interest.desc }}</p>
            </div>
            {% endfor %}
            {% for interest in interest_list[1] %}
                <button onclick="showBox({{ forloop.index }}-1)">{{ interest.name }}</button>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <a class="next" onclick="changeBox(1)">&#10095;</a>
</div>

<!-- buttons -->
<div class="interest-menu">
    {% for interest_list in site.data.interests %}
    <button onclick="showList({{ forloop.index }}-1)">{{ interest_list[0] | replace: "_", " " }}</button>
    {% endfor %}
</div>
<!-- 

- {{ item.authors }} ({{ item.year }}) "{{ item.title }}" {% if item.pdf != nil %} <a href="{{ item.pdf }}">PDF</a> {% endif %}

--->