---
layout: page
title: interests
script: /assets/js/interests.js
---

<div class="interest-div">
    <button class="prev" onclick="changeBox(-1)">&#10094;</button>
    <div class="interest-panel">
        {% for interest_list in site.data.interests %}
        <div class="interest-list">
            <h1 class="interest-list-title">{{ interest_list[0] | replace: "_", " " }}</h1>
            {% for interest in interest_list[1] %}
            <div class="interest-box">
                <h2 class="interest-title">{{ interest.name }}</h2>
                <p class="interest-desc">{{ interest.desc }}</p>
            </div>
            {% endfor %}
            <div class="interest-menu">
            {% for interest in interest_list[1] %}
                <button class="interest-button" onclick="showBox({{ forloop.index }}-1)">{{ interest.name }}</button>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="next" onclick="changeBox(1)">&#10095;</button>
</div>

<!-- buttons -->
<div class="list-menu">
    {% for interest_list in site.data.interests %}
    <button onclick="showList({{ forloop.index }}-1)" class="list-button">{{ interest_list[0] | replace: "_", " " }}</button>
    {% endfor %}
</div>
<!-- 

- {{ item.authors }} ({{ item.year }}) "{{ item.title }}" {% if item.pdf != nil %} <a href="{{ item.pdf }}">PDF</a> {% endif %}

--->