---
layout: page
title: projects
---

<h1>Projects</h1>
{% for project in site.data.projects %}
<div class="project-div">
    <h3>{{ project.name }}</h2>
    <p>{{ project.desc }}</p>
    <div>
        {% if project.link != nil %}<a href="{{ project.link }}" class="item-link">Link</a>{% endif %}
        {% if project.repo != nil %}<a href="{{ project.repo }}" class="item-link">Repo</a>{% endif %}
    </div>
</div>
{% endfor %}

<br>

<h1>Mini-Projects</h1>

{% for project in site.data.mini-projects %}
<div class="project-div">
    <h3>{{ project.name }}</h2>
    <p>{{ project.desc }}</p>
    <div>
        {% if project.link != nil %}<a href="{{ project.link }}" class="item-link">Link</a>{% endif %}
        {% if project.repo != nil %}<a href="{{ project.repo }}" class="item-link">Repo</a>{% endif %}
    </div>
</div>
{% endfor %}

