---
layout: default
title: research
---

<h1>Research</h1>
<p class="subtitle"><em>Last updated 15/06/2022</em></p>

<p>This page contains a complete list of the papers I've been working on. I'm always open to collaborations and questions so if you'd like to work with me on a project or have questions about my own work, please feel free to get in touch via one of the mediums listed on my <a href="/about">about page</a>.</p>

<h2>PhD Thesis</h2>

<p>My PhD thesis is titled <strong>Three Essays on the Measurement of Political Ideology</strong>. It has three component papers:</p>
<ol>
    <li>Agree to Agree&#58; Correcting Acquiescence Bias in the Case of Fully Unbalanced Scales with Application to UK Measurements of Political Beliefs</li>
    <li>Age Isn't Just a Number&#58; A Comparative Age-Period-Cohort Analysis of Political Beliefs in Europe</li>
    <li>Social Democratic Party Positions on the EU&#58; The Case of Brexit</li>
</ol>

I am currently awaiting my viva.

<h2>Working Papers</h2>

<ol class="research-list">
    {% for paper in site.data.working %}
    <li>
        <div class="project-div">
            <h3>{{ paper.title }}</h3>
            <p>{{ paper.authors }} ({{ paper.year }})</p>
            <div>
                {% if paper.pdf != nil %}<a href="{{ paper.pdf }}" class="item-link">PDF</a>{% endif %}
                {% if paper.app != nil %}<a href="{{ paper.app }}" class="item-link">Appendix</a>{% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ol>


<h2>Works in Progress</h2>

<ol class="research-list">
    {% for paper in site.data.wip %}
    <li>
        <div class="project-div">
            <h3>{{ paper.title }}</h3>
            <p>{{ paper.authors }}</p>
        </div>
    </li>
    {% endfor %}
</ol>