/* Colors */
$black: rgb(0, 0, 0);
$grey: rgba(52, 61, 70, 1);
$yt: rgb(255, 255, 255);
$blu: rgba(2, 63, 144, 1);

/* Fonts */
$sans: 'Karla', sans-serif;
/* $sans: 'PT Sans', sans-serif; */

/* Dynamic placements and widths */
$mob-left: 2.5%;
$tab-left: 25%;
$pc-left: 30%;

$mob-width: 95%;
$tab-width: 50%;
$pc-width: 40%;

/* Defaults */
:root {
    /* font-family: 'PT Serif', serif;*/
    font-family: $sans;
    font-size: 16px;
    color: black;
}

/* Body width and flex */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
}

h1 {
    margin: 0px;
}

/* Text */

p, h2 {
    margin: 10px 0px 10px 0px;
}

/* Links */
a {
    color: $blu;
    text-decoration: none;
}

a:hover {
    /*font-weight: bold;*/
    /*text-shadow: 0 0 .5px $blu, 0 0 .5px $blu;*/
    text-decoration: underline;
}

hr {
    border-top: 1px solid black;
    width: 100%;
}