/* Home page photo */
figure {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}
.profile {
    width: 10em;
    border-radius: 50%;
}

/* Home page box divs */
.box {
    border-style: solid;
    border-width: 1px;
    border-color: $black;
    margin: 1em 0 1em 0;
    padding: 0;

    .box-title {
        color: $white;
        background-color: $black;
        margin: 0 0 0.5em 0;
        padding: 0.5em;
    }

    .box-content {
        margin: 0;
        padding: 0 0.5em 0.5em 0.5em;
    }
}

/* Home page CV div */
.cv-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    a:link, a:visited {
        text-decoration: none;
    }
    a {
        color: $white;
        background-color: $black;
        border-style: solid;
        border-width: 4px;
        border-color: $black;
    }
    a:hover {
        background-color: $colour;
        border-color: $colour;
    }
}

/* Update Notice */
.update-notice {
    margin: 0.1em 0 1em 0;
}

/* Blog Post Cards */
.post-card {
    margin: 1em 0;
    p {
        margin: 0 0 0 0;
    }
    .post-title {
        font-weight: 900;
    }
}


/* Research Cards */
.research-card {
    margin: 1em 0;
    p, div {
        margin: 0 0 0 0;
    }
    .research-title {
        font-weight: 900;
    }
}


