/* Fonts */
$sans: 'Figtree', sans-serif;
$mono: monospace;//'Robot Mono', monospace;

/* Colors */
$black: #1D1D2E;
$white: #ffffff;
$colour: #b7b7b7;//#313131;
// $colour: #0000EE; //default blue
// $colour: #7680db; //light blue


