/* Headers */
h1 {
    margin: 0px;
}

/* Text */
p, h2 {
    margin: 10px 0px 10px 0px;
}

/* Links */
a {
    color: $blu;
    text-decoration: none;
}

a:hover {
    color: $lite-blu;
    text-decoration: underline;
}

hr {
    border-top: 1px solid black;
    width: 100%;
}

/* Images */
figure {
    /*width: 100%;*/
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}

.profile {
    height: 150px;
    border-radius: 50%;
}

.blog-image {
    width: 100%;
}

/* Code chunks */
code {
    // Display
    display: block;
    width: 100%;
    padding: 4px;
    background: $yt-grey;
    border-radius: 5px;
    white-space: break-spaces;
    word-wrap: break-word;

    // Font
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 14px;
}

p > code {
    display: inline;
    padding: 0px;
    color: $black;
    background-color: transparent;
}
