.interest-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interest-list {
    display: none;
}

.interest-box {
    display: none;
}

// .interest-panel {
//     display: flex;
//     flex-direction: column;
// }


/* Hide the images by default */
// .interest-list {
//     display: none;
// }

