footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-bottom: 5px;

    left: $mob-left;
    width: $mob-width;

    font-family: $serif;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px;
}

/* Media Queries */
@media screen and (min-width: 920px) {
    footer {
        left: $tab-width;
        width: $tab-width;
    }
}

@media screen and (min-width: 1500px) {
    footer {
        left: $pc-width;
        width: $pc-width;
    }
}


/* SVG */
svg {
    background-color: $yt;
    fill: $black;
    border-radius: 50%;
    border: 1px solid $yt;
}
svg:hover {
    background-color: $black;
    fill: $yt;
    border: 1px solid $black;
}

