footer {
    // Position
    position: fixed;
    bottom: 0;
    left: 0;

    // Appearance
    height: $footer-height;
    width: 100%;
    background-color: $yt;
    border-top: 1px solid $yt-grey;

    // Box Model
    margin: 0px;
    padding-bottom: 5px;
    padding-top: 10px;

    // Display
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Content
    font-family: $serif;

    div {
        display: none;
    }
}

.copyright {
    margin: 0px 0px 0px 10px;
}

/* Media Queries */
@media screen and (min-width: 920px) {
    footer {
        
        justify-content: space-between;

        div {
            margin: 0px 10px 0px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    footer:hover {
        box-shadow: 0px -1px $yt-grey;
    }
}

// @media screen and (min-width: 1500px) {
//     footer {
//         left: $pc-width;
//         width: $pc-width;
//     }
// }


/* SVG */
svg {
    background-color: $yt;
    fill: $black;
    border-radius: 50%;
    border: 1px solid $yt;
}
svg:hover {
    background-color: $black;
    fill: $yt;
    border: 1px solid $black;
}

