/* Home page layout */
.home-div {
    height: calc(100vh - 180px); //60*1.5 for main padding, 60 for footer height, 15 for footer padding
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    figure {
        margin-bottom: 20px;
    }
}


/* Typing effect */
.welcome {
    font-size: 20px;
    font-family: $serif;
    margin: 0px;
    width: 100%;
    //margin-top: 20px;
    //margin-bottom: 20px;
    overflow: hidden; //hides the text while typing occurs
    white-space: nowrap; //keeps everything on the same line
    border-right: 3px solid; //this is the cursor
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

.typing-div{
    margin: 0px;
    padding: 0px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


/* CV Display */
.cv-div {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
        font-size: 20px;
        color: $black;
        background-color: $yt;
        padding-left: 5px;
        padding-right: 5px;
        margin: 5px;
        border: 1px solid $black;
        border-radius: 10px;
    }

    a:hover {
        color: $yt;
        background-color: $black;
        text-decoration: none;
    }
}