/* Interest Display */
.interest-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(100vh - 180px);
    width: 100%;
}

.interest-panel {
    height: 100%;
}

.interest-list {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.interest-box {
    display: none;
    // animation: fadein 1.5s;
    animation: fadeout 1.5s;
}



/* Selection Buttons */
.interest-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-menu {
    // justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.interest-button, .list-button {
    font-size: 14px;
    color: $black;
    background-color: $yt;
    border: 1px $black solid;
    border-radius: 10px;
    margin: 5px;
}

.interest-button:hover, .list-button:hover {
    background-color: $black;
    color: $yt
}

.grey-button, .grey-button:hover {
    color: $yt;
    background-color: $lite-grey;
    border: 1px $lite-grey solid;
}



/* Next/Previous */
.prev {
    margin-right: 10px;
}
.next {
    margin-left: 10px;
}
.prev, .next {
    min-width: 25px;
    height: 25px;
    background-color: $yt;
    border: 1px $black solid;
    border-radius: 50%;
}
.prev:hover, .next:hover {
    background-color: $black;
    color: $yt;
}



/* Text */
.interest-list-title {
    justify-self: flex-start;
    align-self: center;
    //margin-bottom: auto;
}


/* Fade in/out animations */
// @keyframes fadein {
//     from {opacity: 1}
//     to {opacity: .2}
// }

@keyframes fadeout {
    from {opacity: .2}
    to {opacity: 1}
}