/* Defaults */
:root {
    font-family: $sans;
    font-size: 16px;
    color: $black;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Body */
body {
    padding: 1;

    // Always show scroll bar
    overflow-y: scroll;

    // Layout
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive Width */
.container {
    width: 100%;
    max-width: 40em;
}

/* Footer */
footer {
    margin: 1em 0 1em 0;

    // Display
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin: 0px 0px 0px 10px;
}
