$colour1: rgba(24,117,214,1);
$colour2: rgba(28,87,179,1);
$colour3: rgba(31,63,150,1);
$main-gradient: linear-gradient(90deg, $colour1 15%, $colour2 50%, $colour3 75%);

$nav-height: 60px;

:root {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    padding-top: $nav-height * 2;
    left: 30%;
    width: 40%;
}

@media screen and (max-width: 1500px) {
    main {
    left: 25%;
    width: 50%;
    }
}

@media screen and (max-width: 920px) {
    main {
    padding-top: 0px;
    left: 2.5%;
    width: 95%;
    }
}





/*---- Navigation ----*/

$cross-shift: 19.2px;
$cross-rotate: 45deg;

nav {
    background: white;
    /*background: $main-gradient;*/

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $nav-height;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    flex-direction: row;

    justify-content: center;
    /*-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;*/

    z-index: 1;


    a {
        background-image: $main-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0px 4px 0px 4px;
        padding: 0px 8px 0px 8px;
        text-decoration: none;

        font-size: 40px;
        font-weight: normal;
    }

    a:hover {
        /*color: white;
        color: black;
        background-color: white;*/
        font-weight: bold;
        text-decoration: none;
    }

    /*.current {
        color: black;
        background-color: white;
        font-weight: bold;
    }*/

}

button {
    display: none;
}




@media screen and (max-width: 920px) {
    nav {
        /*background: $main-gradient;*/

        top: 0;
        left: 0;
        height: 0%;
        -webkit-transition: height 0.5s;
        -o-transition: height 0.5s;
        transition: height 0.5s;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        #homelink {
            margin-right: 0px;
            top: 0;
        }

        a {

            /*color: white;
            background-image: none;
            background-clip: border-box;*/

            margin: 4px 0px 4px 0px;
            padding: 0px;

            opacity: 0;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
    }


    .drop {
        height: 100%;
        -webkit-transition: height 0.5s;
        -o-transition: height 0.5s;
        transition: height 0.5s;

        a {
            opacity: 1;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }
    }

    #menu-icon {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        
        height: $nav-height;
        width: $nav-height;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        background: none;
        border: none;
    }


        span {
            width: 50px;
            height: 4px;
            margin: 0px;
            background: $main-gradient;
            opacity: 1;
            z-index: 2;

            border-radius: 50px;
        
            -webkit-transition: opacity 500ms, background-color 500ms, -webkit-transform 500ms;
        
            transition: opacity 500ms, background-color 500ms, -webkit-transform 500ms;
        
            -o-transition: transform 500ms, opacity 500ms, background-color 500ms;
        
            transition: transform 500ms, opacity 500ms, background-color 500ms;
        
            transition: transform 500ms, opacity 500ms, background-color 500ms, -webkit-transform 500ms;
        }

        .active > #menu-1 {
            -webkit-transform: translate(0px,$cross-shift) rotate($cross-rotate);
                -ms-transform: translate(0px,$cross-shift) rotate($cross-rotate);
                    transform: translate(0px,$cross-shift) rotate($cross-rotate);
        }
        
        .active > #menu-3 {
            -webkit-transform: translate(0px,-$cross-shift) rotate(-$cross-rotate);
                -ms-transform: translate(0px,-$cross-shift) rotate(-$cross-rotate);
                    transform: translate(0px,-$cross-shift) rotate(-$cross-rotate);
        }
        
        .active > #menu-2 {
            -webkit-transform: translate(-4px, 0px);
                -ms-transform: translate(-4px, 0px);
                    transform: translate(-4px, 0px);
            opacity: 0;
        }
        
        /*.active > span {
            background: white;
        }*/
}





/* ---- Footer ---- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 30%;
    width: 40%;

}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0px;
}

@media screen and (max-width: 1500px) {
    footer {
    left: 25%;
    width: 50%;
    }
}

@media screen and (max-width: 920px) {
    footer {
    left: 2.5%;
    width: 95%;
    }
}

hr {
    border: 1px solid black;
    width:100%;
}

/*
svg {
    fill: $colour1;
}
*/