main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    padding-top: $nav-height * 2;
    left: $mob-left;
    width: $mob-width;
}

/* Media Queries */
@media screen and (min-width: 920px) {
    main {
        left: $tab-width;
        width: $tab-width;
    }
}

@media screen and (min-width: 1500px) {
    main {
        left: $pc-width;
        width: $pc-width;
    }
}
