h1 {
    background-image: $main-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -ms-flex-item-align: end;

        align-self: flex-end;

    margin: 0px;
}

h2 {
    margin: 10px 0px 10px 0px;
}

.subtitle {

    -ms-flex-item-align: end;

        align-self: flex-end;
    margin: 0px 0px 10px 0px;
    font-weight: bold;

}

p {
    margin: 10px 0px 10px 0px;
}

a {
    color: $colour3;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: $colour1;
    text-decoration: underline;
}