.project-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0px 20px 0px;

    h3 {
        margin: 0px;
    }
}

.item-link {
    padding: 4px;
    background-color: $yt-grey;
    border-radius: 10px;
}