/* Main */
// main {
//     display: flex;
//     flex-direction: column;
// }

/* Headings */
h1 {
    font-size: 2em;
    font-weight: normal;
    font-family: $sans;
    margin: 0.5em 0 0.1em 0;
}
h2 {
    font-size: 1.5em;
    font-weight: normal;
    font-family: $sans;
}
h3, h4, h5, h6 {
    font-family: $sans;
    font-weight: normal;
}

/* Code */
code {
    font-family: $mono;
    font-size: 0.8em;
}

/* Footnote style */
sup {
    vertical-align: text-top;
    font-size: 12px;
}

/* Link Style */
a:link, a:visited {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $colour;
}
a:hover {
    text-decoration-color: $black;
}

/* Block quote style */
blockquote {
    border-left: 3px solid $colour;
    margin: 0px;
    padding: 0px 1em;
}

/* Navigation */
nav {
    margin: 0 0 1em 0;
    font-size: 20px;
    font-family: $sans;
    a {
        margin: 0 4px 0 4px;
    }
    a:link, a:visited {
        text-decoration: none;
    }

    // Responsive nav
    @media screen and (min-width: 920px) {
        font-size: 24px;
        font-weight: normal;
        a {
            margin: 0px;
        }
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        justify-content: center;
        gap: 1em;
    }
}


