/* Main */
// main {
//     display: flex;
//     flex-direction: column;
// }

/* Headings */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0 0.1em 0;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
}

/* Footnote style */
sup {
    vertical-align: text-top;
    font-size: 12px;
}

/* Link Style */
a:link, a:visited {
    color: $black;
    text-decoration: underline;
    text-decoration-color: $colour;
}
a:hover {
    text-decoration-color: $black;
}

/* Block quote style */
blockquote {
    border-left: 3px solid $colour;
    margin: 0px;
    padding: 0px 1em;
}

/* Navigation */
nav {
    margin: 0 0 1em 0;
    font-size: 20px;
    a {
        margin: 0 4px 0 4px;
    }
    a:link, a:visited {
        text-decoration: none;
    }

    // Responsive nav
    @media screen and (min-width: 920px) {
        font-size: 24px;
        font-weight: bold;
        a {
            margin: 0px;
        }
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        justify-content: center;
        gap: 1em;
    }
}

/* Blog Styling */
.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blog-img {
    width: 100%;
}

.blog-img-80 {
    width: 80%;
}

.blog-img-50 {
    width: 50%;
}

.post-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
