---
---
@import "main";
@import "page";

h1 {
    -ms-flex-item-align: center;

        align-self: center;
}

img {
    height: 300px;
    border-radius: 50%;
    margin: 0px;

    display: block;
    margin-left: auto; 
    margin-right: auto;
}

@media screen and (max-width: 920px) {

    img {
        height: 200px;
    }
}

/*
main {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

img {
    height: 300px;
    border-radius: 50%;
    margin: 0px;
}

h1 {
    background-image: $main-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 20px 0px 0px 0px;
}

p {
    margin: 4px 0px 0px 0px;
    text-align: center;
}

@media screen and (max-width: 920px) {
    main {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    img {
        height: 200px;
    }
}

*/