<!doctype html>
<html>
  <head>
    <!-- Basics -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Mobile Friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fonts -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
    </style>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/css/page.css">

    <!-- Page-specific Scripts (legacy) -->
    {% if page.script %}<script src="{{ page.script }}" type="text/JavaScript"></script>{% endif %}

    <!-- Mathjax -->
     <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    
  </head>
  <body>
    <div class="container">
      {% include navigation.html %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>