<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/{{ page.css }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
    </style>
    <script src="/assets/js/menu.js" type="text/JavaScript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <button class="menu-icon" id="menu-icon" onclick="menuFunction()">
        <span id="menu-1"></span>
        <span id="menu-2"></span>
        <span id="menu-3"></span>
    </button>
    {% include navigation.html %}
    <main>
        {{ content }}
    </main>
  </body>
</html>